

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
  display: flex;
}
img{
  height: 50vh;
}

mat-stepper{
  width: 100%;
  margin: 1% auto;
}

.imagen{

  height: 80vh;
  background-size: cover;
  background-position: center ;
}
.example-card{
  width: 100%;
}
.mat-card-content{
  width: 100%;

}

.mat-card-content p{
  width: 100%;

}

.mat-card-md-image{
  width: 50%;
  height: 70vh;
  display: flex;
  margin: 1% auto;
}

.temas{
  margin: 2% 0%;
 
  background-color: rgb(255, 255, 255,0.5);
}

button{
  margin: 1% 3%;
}

.comentario{
  width: 100%;
  background-color: rgb(173, 255, 47,0.5);
}
.agregar{
  width: 100%;
  display:block;
}
.comentario{
  margin: 1% 0%;
  border: 1px solid black;
}