
    <button
    mat-icon-button class="menu"
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/home/inicio">
      <mat-icon>home</mat-icon>
      <span>inicio</span>
    </button>
    <mat-divider></mat-divider>
    
    <button mat-button class="menu-button" routerLink="/home/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home/publicaciones">
      <mat-icon>library_books</mat-icon>
      <span>Mis temas</span>
    </button>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" routerLink="/home/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>